.button {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  transition: 0.2s;
  margin: 20px auto;
}

.button:hover {
  cursor: pointer;
  background-color: #ed3636;
  width: 16rem;
  border-radius: 15px;
  transition: 0.2s;
}

.button .arrow {
  height: 30px;
  width: 30px;
}
